<div class="page">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <h2 class="page-title">
                    <img class="svg" src="assets/svg/file.svg">
                    <span>Todo List App</span>
                    
                </h2>
            </div>
            <div class="col-md-6">
              

                <form class="example-form">

                  <mat-form-field class="example-full-width">
                      
                    <input matInput placeholder="Title " #todoTitle >
                    

                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                      
                    <input matInput placeholder="Description "#todoDescription >
                    

                  </mat-form-field>

                    
                    <button mat-raised-button color="primary" type="submit" (click)="addTodo(todoTitle,todoDescription)" >Ekle</button>
                  </form>
                
                  
            </div>
        </div>
      
       
        
        
        
            
              
              
            
        

        <div class="row">
          <div class="col-md-12 text center mt-2">

            <small>Todo App Study Case 2021</small>
          </div>
        </div>
    </div>
</div>
