body {
    background-color: #f3f3f3;
    padding: 50px 0;
}
.page {
    &.home{
        .page-title{
            .svg{
                width: 150px;
                max-height: 50px;
                margin-right: 125px;


            }
            span{

            }   
        }
        .example-form{
            .example-full-width{
                width: 85%;
            }
        }
    }
}